<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">ALL THE BOOTSTAP IN ONE PLACE.</h1>
      <p class="lead">These are the bootstrap examples that you need to understand.</p>
    </div>
  </div>

  <div class="container" style="border: 1px solid black;">
    <h1>Container</h1>
    <p>-basic layout element</p>
    <p>-choose from a responsive, fixed width (max-width changes with each break point).</p>
    <p>-fluid-width 100% wide all the time</p>
  </div>

  <br>
  <br>

  <div class="container-fluid" style="border: 1px solid black;">
    <h1>Container Fluid</h1>
    <p>-basic layout element</p>
    <p>-fluid-width 100% wide all the time</p>
  </div>

  <br>
  <br>

  <div class="container-fluid item" style="border: 1px solid black;">
    <h1>Container with Media Queries</h1>
    <p>Minimum width example.</p>
  </div>

  <br>
  <br>

  <div class="container-fluid itemRange" style="border: 1px solid black;">
    <h1>Container with Media Queries with ranges</h1>
    <a href="https://www.w3schools.com/cssref/pr_gen_content.asp">Link to help</a>
    <p></p>
  </div>

  <br>
  <br>

  <div class="container-fluid " style="border: 1px solid black;">
    <h1>Container with Z-index</h1>
    <img class="imgHolder" src="assets/GitHub-Mark.png">
    <p>Here is an example of the z-index moving</p>
    
  </div>

  <br>
  <br>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">GRIDS AND HOW THEY WORK</h1>
      <p class="lead">These are the bootstrap examples for grids that you need to understand.</p>
    </div>
  </div>