.item {
    background-color: aqua;
}

.itemRange{
    background-color: aqua;
}

.itemRange p::before{
    content:'';
}

.imgHolder{
  position: inherit;
  left: 0px;
  top: 0px;
  z-index: 1000;
}


.testerImage{
    width: 10%;
    height: 10%;
}

.parallax{
    background-image: url("/assets/LakeFront.jpg");
    width:100%;
    height:100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.content{
    display:block;
    width:100%;
    height:700px;
}

.content h1{
    font-size:56px;
    margin-top:80px;
}



.body{
    font-size: medium;
}

@media (min-width: 575.98px) { 
    .item{
        background-color: red;
    }
}


@media (min-width: 768px) { 
    .item{
        background-color: green;
    }
}


@media (min-width: 992px) {
    .item{
        background-color: purple;
    }
}

@media (min-width: 1200px) { 
    .item{
        background-color: blue;
    }
}



/* Media Queries for item ranges*/

@media (max-width: 575.98px) { 
    .itemRange{
        background-color: red;
    }
    .itemRange p::after{
        content:'Range: 575.98px';
    }

    .testerImage{
        width: 25%;
        height: 25%;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .itemRange{
        background-color: green;
    }
    .itemRange p::after{
        content:'Range: 576px to 767.98px';
    }

    .testerImage{
        width: 30%;
        height: 30%;
    }
    
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .itemRange{
        background-color: aqua;
    }
    .itemRange p::after{
        
        content:'Range: 768px to 991.98px';
    }

    .testerImage{
        width: 20%;
        height: 20%;
    }
    
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .itemRange{
        background-color: orange;
    }
    .itemRange p::after{
        content:'Range: 992px to 1199.98px';
    }

    .testerImage{
        width: 30%;
        height: 30%;
    }    
}


@media (min-width: 1200px) { 
    .itemRange{
        background-color: yellow;
    }
    .itemRange p::after{
        content:'Range: 1200px';
    }

    .testerImage{
        width: 40%;
        height: 40%;
    }    
}

.redBar50Percent{
    background-color: red;
    width: 50%;
}

.redBar50Points{
    background-color: red;
    width: 50px;
}

.redBar50VH{
    background-color: blue;
    height: 25vh;
    width: 10vw;
    color: white;
}


.redBar50VW{
    background-color: blue;
    height: 25vh;
    width: 50vw;
    color: white;
}
.card{
    border-style: solid;
    border-color: black;
}


.cardEM{
    border-style: solid;
    border-color: black;
    font-size: x-small;
}

.cardREM{
    border-style: solid;
    border-color: black;
    font-size: xx-large;
}

.redBarREM{
    font-size: 3rem;
}

.redBarEM{
    font-size: 3em;
}

.two-em{
    font-size: 2em;
}

.two-rem{
    font-size: 2rem;
}

.two-hundred-precent{
    font-size: 200%;
}

.parent{
    font-size: 30px;
}