<body class="body">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">ALL THE BOOTSTAP IN ONE PLACE.</h1>
          <p class="lead">These are the bootstrap examples that you need to understand.</p>
        </div>
      </div>
    
      <div class="container" style="border: 1px solid black;">
        <h1>Container</h1>
        <p>-basic layout element</p>
        <p>-choose from a responsive, fixed width (max-width changes with each break point).</p>
        <p>-fluid-width 100% wide all the time</p>
      </div>
    
      <br>
      <br>
    
      <div class="container-fluid" style="border: 1px solid black;">
        <h1>Container Fluid</h1>
        <p>-basic layout element</p>
        <p>-fluid-width 100% wide all the time</p>
      </div>
    
      <br>
      <br>
    
      <div class="container-fluid item" style="border: 1px solid black;">
        <h1>Container with Media Queries</h1>
        <p>Minimum width example.</p>
      </div>
    
      <br>
      <br>
    
      <div class="container-fluid itemRange" style="border: 1px solid black;">
        <h1>Container with Media Queries with ranges</h1>
        <a href="https://www.w3schools.com/cssref/pr_gen_content.asp">Link to help</a>
        <p></p>
      </div>
    
      <br>
      <br>
    
      <div class="container-fluid " style="border: 1px solid black;">
        <h1>Container with Z-index</h1>
        <img class="imgHolder" src="assets/GitHub-Mark.png">
        <p>Here is an example of the z-index moving</p>
        
      </div>
    
      <br>
      <br>
    
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">GRIDS AND HOW THEY WORK</h1>
          <p class="lead">These are the bootstrap examples for grids that you need to understand.</p>
        </div>
      </div>
      <div class="conainter">
          <ol>
              <li>Containers provide a means to center and horizontally pad your site’s contents. Use .container for a responsive pixel width or .container-fluid for width: 100% across all viewport and device sizes.</li>
              <li>Rows are wrappers for columns. Each column has horizontal padding (called a gutter) for controlling the space between them. This padding is then counteracted on the rows with negative margins. This way, all the content in your columns is visually aligned down the left side.</li>
              <li>In a grid layout, content must be placed within columns and only columns may be immediate children of rows.</li>
              <li>Thanks to flexbox, grid columns without a specified width will automatically layout as equal width columns. For example, four instances of .col-sm will each automatically be 25% wide from the small breakpoint and up. See the auto-layout columns section for more examples.</li>
              <li>Column classes indicate the number of columns you’d like to use out of the possible 12 per row. So, if you want three equal-width columns across, you can use .col-4.</li>
              <li>Column widths are set in percentages, so they’re always fluid and sized relative to their parent element.</li>
              <li>Columns have horizontal padding to create the gutters between individual columns, however, you can remove the margin from rows and padding from columns with .no-gutters on the .row.</li>
              <li>To make the grid responsive, there are five grid breakpoints, one for each responsive breakpoint: all breakpoints (extra small), small, medium, large, and extra large.</li>
              <li>Grid breakpoints are based on minimum width media queries, meaning they apply to that one breakpoint and all those above it (e.g., .col-sm-4 applies to small, medium, large, and extra large devices, but not the first xs breakpoint).</li>
              <li>You can use predefined grid classes (like .col-4) or Sass mixins for more semantic markup.</li>
          </ol>
    
      </div>
    
      <br>
      <br>
    
    
      <div class="container">
          <h1>Regular Container</h1>
        <div class="row">
          <div class="col-sm" style="border: 5px solid red;">
            One of three columns
          </div>
          <div class="col-sm" style="border: 5px solid blue;">
            One of three columns
          </div>
          <div class="col-sm" style="border: 5px solid green;">
            One of three columns
          </div>
        </div>
      </div>
    
      <br>
      <br>
    
      <div class="container">
          <h1>Regular Container XS COL</h1>
        <div class="row">
          <div class="col" style="border: 5px solid red;">
            XS small value set
          </div>
          <div class="col" style="border: 5px solid blue;">
            XS small value set
          </div>
          <div class="col" style="border: 5px solid green;">
            XS small value set
          </div>
        </div>
      </div>
    
      <div class="container">
        <h1>Regular Container SM COL</h1>
      <div class="row">
        <div class="col-sm" style="border: 5px solid red;">
          SM small value set
        </div>
        <div class="col-sm" style="border: 5px solid blue;">
          SM small value set
        </div>
        <div class="col-sm" style="border: 5px solid green;">
          SM small value set
        </div>
      </div>
     </div>
    
     <div class="container">
        <h1>Regular Container MD COL</h1>
      <div class="row">
        <div class="col-md" style="border: 5px solid red;">
        MD small value set
        </div>
        <div class="col-md" style="border: 5px solid blue;">
        MD small value set
        </div>
        <div class="col-md" style="border: 5px solid green;">
        MD small value set
        </div>
      </div>
    </div>
    
    <div class="container">
        <h1>Regular Container LG COL</h1>
      <div class="row">
        <div class="col-lg" style="border: 5px solid red;">
        LG small value set
        </div>
        <div class="col-lg" style="border: 5px solid blue;">
        LG small value set
        </div>
        <div class="col-lg" style="border: 5px solid green;">
        LG small value set
        </div>
      </div>
    </div>
    
    
    <div class="container">
        <h1>Regular Container XL COL</h1>
      <div class="row">
        <div class="col-xl" style="border: 5px solid red;">
        LG small value set
        </div>
        <div class="col-xl" style="border: 5px solid blue;">
        LG small value set
        </div>
        <div class="col-xl" style="border: 5px solid green;">
        LG small value set
        </div>
      </div>
    </div>
    
    
    <div class="container">
        <h1>Regular Container Hard set column width XS</h1>
        <div class="row">
          <div class="col" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-6" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-5" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
      <div class="container">
        <h1>Regular Container Hard set column width SM</h1>
        <div class="row">
          <div class="col-sm" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-sm-6" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-sm" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col-sm" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-sm-5" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-sm" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
      <div class="container">
        <h1>Regular Container Hard set column width MD</h1>
        <div class="row">
          <div class="col-md" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-md-6" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-md" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col-md" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-md-5" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-md" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
      <div class="container">
        <h1>Regular Container Hard set column width LG</h1>
        <div class="row">
          <div class="col-lg" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-lg-6" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-lg" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col-lg" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-lg-5" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-lg" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
      <div class="container">
        <h1>Regular Container Hard set column width XL</h1>
        <div class="row">
          <div class="col-xl" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-xl-6" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-xl" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col-xl" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-xl-5" style="border: 5px solid blue;">
            2 of 3 (wider)
          </div>
          <div class="col-xl" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <h1>Variable Width Content</h1>
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 col-md-5" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-md-auto" style="border: 5px solid blue;">
            Variable width content
          </div>
          <div class="col col-lg-2" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
        <div class="row">
          <div class="col" style="border: 5px solid red;">
            1 of 3
          </div>
          <div class="col-md-auto" style="border: 5px solid blue;">
            Variable width content
          </div>
          <div class="col col-lg-2" style="border: 5px solid green;">
            3 of 3
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row align-items-start">
          <div class="col" style="border: 5px solid red;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid red;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid red;">
            One of three columns
          </div>
         
        </div>
        <div class="row align-items-center">
          <div class="col" style="border: 5px solid blue;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid blue;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid blue;">
            One of three columns
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col" style="border: 5px solid green;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid green;">
            One of three columns
          </div>
          <div class="col" style="border: 5px solid green;">
            One of three columns
          </div>
        </div>
      </div>
    
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">ORDERING ELEMENTS BOOTSTAP IN ONE PLACE.</h1>
          <p class="lead">These are the bootstrap examples that you need to understand.</p>
        </div>
      </div>
    
      <div class="container">
        <h1>Variable Ordering Content</h1>
        <p>Note that the presedence is taken to the screen size</p>
        <p>you will see the order change based on the screen size.</p>
        <div class="row">
          <div class="col-2 order-1 order-sm-6 order-md-5" style="border: 5px solid red;">
            First
          </div>
          <div class="col-2 order-2 order-sm-5 order-md-6" style="border: 5px solid blue;">
            Second
          </div>
          <div class="col-2 order-3 order-sm-4 order-md-3" style="border: 5px solid green;">
            Third
          </div>
          <div class="col-2 order-4 order-sm-3 order-md-4" style="border: 5px solid orange;">
            Fourth
          </div>
          <div class="col-2 order-5 order-sm-2 order-md-1" style="border: 5px solid tan;">
            Fifth
          </div>
          <div class="col-2 order-6 order-sm-1 order-md-2" style="border: 5px solid yellow;">
            Sixth
          </div>
        </div>
      </div>
    
      <br>
      <br>
      <br>
      <br>
    
      <div class="media">
        <img class="mr-1 testerImage" src="assets/GitHub-Mark.png" alt="Generic placeholder image" style="border: 5px solid red; ">
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          The media object helps build complex and repetitive components where some media is positioned along
          side content that doesnt wrap around said media. Plus it does this with only two required classes
          thanks to flexbox.
    
          The wrapping .media 
          and .media-body around your content Optional padding and
          margin can be controlled through spacing utilities.
        </div>
      </div>
    
      <div class="container">
      <div class="media">
        <img class="mr-1 testerImage" src="assets/GitHub-Mark.png" alt="Generic placeholder image" style="border: 5px solid red; ">
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
    <br>
      <br>
      <br>
      <br>
    
    
    
    <ul class="list-unstyled">
      <li class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
      <li class="media my-4">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
      <li class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </li>
    </ul>
    
      <br>
      <br>
      <br>
      <br>
    
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">BOOTSTAP SPACING OPTIONS IN ONE PLACE.</h1>
          <p class="lead">These are the bootstrap examples that you need to understand.</p>
        </div>
      </div>
    
      <div class="container" style="border: 5px solid red; ">
        <div class="row" style="border: 5px solid blue; ">
    
          <div class="col" style="border: 5px solid green; ">
            <p class="m-2 p-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 2 all around</p>
            <p class="mt-2 pt-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 2 at the top</p>
            <p class="ml-3 pl-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 3 and Padding of 3 on the left</p>
            <p class="mr-3 pr-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 2 on the right</p>
            <p class="mb-2 pb-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 2 on the bottom</p>
            <p class="mx-2 px-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 3 on left and right</p>
            <p class="m-y py-3" style="border: 1px solid red; ">STANDARD TEST ELEMENT! Margin of 2 and Padding of 2 on top and bottom</p>
    
    
          </div>
    
    
        </div>
    
      </div>
    
    
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">IMAGES BOOTSTAP IN ONE PLACE.</h1>
        <p class="lead">These are the bootstrap examples that you need to understand.</p>
      </div>
    </div>
    
    <br>
      <br>
      <br>
      <br>
    
    <div class="container">
    <h1>This is a test of the first image</h1>
    <img src="assets/GitHub-Mark.png" class="img-fluid" alt="Responsive image">
    </div>
    
    <br>
      <br>
      <br>
      <br>
    
    
    <div class="container">
      <h1>Image fluid container used with container parent</h1>
      <img src="assets/LakeFront.jpg" class="img-fluid" alt="Responsive image">
      </div>
    
      <div class="container">
        <h1>Image thumbnail class used here.</h1>
        <img src="assets/GitHub-Mark.png" class="img-thumbnail" alt="Responsive image">
        </div>
    
        <br>
        <br>
        <br>
        <br>
        
    <br>
    <br>
    <br>
    <br>
    
    <br>
      <br>
      <br>
      <br>
      
    <br>
    <br>
    <br>
    <br>
    
        <div class="col-xs-12 col-md-8 container" >
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="cardItem">
    
    
              <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img"  src="assets/fifth.jpg" height="250" width="200">
    
              </div>
    
             <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0">The Fifth Glorious Mysteries</h2>
              <h3 class="mb-0"><strong class="d-inline-block mb-2 text-primary pannel-heading">The Assumption of the Blessed Virgin Mary</strong></h3>
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
              <h4 class="mb-0">For eternal salvation.</h4>
              
            </div>
            
          </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        
    
        <div class="container" >
          <h2 class="mb-0">The Fifth Glorious Mysteries</h2>
          <div class="row" id="">
    
            
              <div class="col-12 col-sm-12 col-md-4 col-lg-3 order-1 cardImage">
                  <img class="img-thumbnail"  src="assets/fifth.jpg" height="100%" width="100%">
    
              </div>
    
             <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2 cardText">
              <h2 class="mb-0">The Fifth Glorious Mysteries</h2>
              <h3 class="mb-0"><strong class="">The Assumption of the Blessed Virgin Mary</strong></h3>
    
              <div class="mb-1 text-muted"></div>
    
    
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto"><strong>One Our Father, Ten Hail Marys, One Glory Be</strong></p>
              <h4 class="mb-0">For eternal salvation.</h4>
              
            </div>
            
          </div>
        </div>
        
    
        <table class="container  table table-hover table-sm table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr class="bg-primary">
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td class="bg-primary">@twitter</td>
            </tr>
          </tbody>
        </table>
        
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
        </div>
    
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">FORMS BOOTSTAP IN ONE PLACE.</h1>
            <p class="lead">These are the bootstrap examples that you need to understand.</p>
          </div>
        </div>
    
    
        <form>
          <div class="container">
    
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
    
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
    
          <div class="form-group form-check">
            
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
    
          
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
    
        <br>
        <br>
        <br>
    
        <form class="container">
          <input class="form-control form-control-lg" type="text" placeholder="Basic Input">
          <input class="form-control" type="text" placeholder="Basic Input">
          <input class="form-control form-control-sm" type="text" placeholder="Basic Input">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
        <br>
        <br>
        <br>
    
        <form>
          <div class="form-group">
            <label for="formControlRange">Example Range input</label>
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </form>
    
        <br>
        <br>
        <br>
    
        <form>
          <div class="form-group">
            <label for="formControlRange">Example Range input</label>
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
    
          <label for="inputPassword5">Password</label>
          <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
          <small id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          THis is used as an assistant.
          </small>
        </form>
    
        <br>
        <br>
        <br>
    
        <h1 class="display-2">How the form validation works</h1>
    
        <p>HTML form validation is applied via CSS two pseudo-classes,
          :invalid 
          :valid 
        </p>
    
        <p>Bootstrap scopes the :invalid and :valid styles to parent .was-validated class
          usually applied to the form. Otherwise any required field without a value 
          show up as invalid on page load. This way you may choose when to activate them 
          (typically after form submission is attempted)
        </p>
    
        <p>As a fallback, .is-invalid and .is-valid classes may be used instead of the pseudo-classes
          for server side validation. They do not require a .was-validated class for the form again adter submission.
        </p>
    
        <p>Due to constraints in how CSS works we cannot (at present) apply styles to a 
          label that comes before a form control in the DOM without in help of custom JavaScript.
        </p>
    
        <p>All modern browsers support the constraint validation API a series of JavaScript
          methods for validating form controls.
        </p>
    
        <p>Feedback messages may utilize the browser defaults or our custom feedback styles with additional
          HTML and CSS.
        </p>
    
        <form class="container">
          <input class="form-control form-control-lg" type="text" placeholder="Basic Input">
          <input class="form-control" type="text" placeholder="Basic Input">
          <input class="form-control form-control-sm" type="text" placeholder="Basic Input">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
      <form>
        <input class="form-control form-control-lg" type="text" placeholder="Basic Input">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
      <br>
      <br>
      <br>
      <br>
    
      <div class="container">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-link">Link</button>
      </div>
    
      <div class="container">
        You can add the button tag to links as well.
        <a class="btn btn-primary" href="" role="button">Link</a>
      </div>
    
      <br>
      <br>
      <br>
      <br>
    
      
      <div class="container">
        
        <button class="btn btn-outline-primary">TEST</button>
        <button class="btn btn-outline-danger btn-lg">TEST</button>
    
        Block level buttons span the full width of the parent.
        <button class="btn btn-primary btn-lg btn-block">THIS IS A TEST</button>
    
        This is a disabled button.
        <button class="btn btn-primary btn-lg btn-block disabled">THIS IS A TEST</button>
      </div>
    
      <br>
      <br>
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">BOOTSTAP Carousel OPTIONS IN ONE PLACE.</h1>
          <p class="lead">These are the bootstrap examples that you need to understand.</p>
        </div>
      </div>
    
      <br>
      <br>
    
    
      <div id="" class="carousel slide " data-ride="carousel">
      
        <div class="carousel-inner ">
          
        <div class="">
          <div class="carousel-item active ">
            <img class="d-block w-100" src="/assets/carousel-1.jpg" alt="First slide">
            <p>Image with words 1</p>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/carousel-2.jpg" alt="Second slide">
            <p>Image with words 2</p>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/assets/carousel-3.jpg" alt="Third slide">
            <p>Image with words 3</p>
          </div>
        </div>
          
        </div>
    
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    
    
        <div class="card">
          <div class="card-body">
            This is some text within a card body
          </div>
        </div>
    
        <div class="card-group">
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">card subtitile</h6>
            <p class="card-text">This is some quick text</p>
          </div>
        </div>
    
    
        <div class="card col-12" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
    
        <div class="card col-12" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
    
        <div class="card col-12 bg-success border-primary" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8 text-danger">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card-deck">
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">card subtitile</h6>
            <p class="card-text">This is some quick text</p>
          </div>
        </div>
    
    
        <div class="card col-12" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
    
        <div class="card col-12" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
    
        <div class="card col-12 bg-success border-primary" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8 text-danger">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    
      <div class="card-columns">
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer text-white">
              <small>
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
    
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
        </div>
    
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
    
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Card BOTTOM</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
    
          <img src="assets/GitHub-Mark.png" class="card-img-bottom" alt="...">
        </div>
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
        <div class="card">
          <img src="assets/GitHub-Mark.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    
      </div>
    
      <br>
      <br>
      <br>
    
      <div class="parallax"></div>
      <div class="content">
        <h1>Content</h1>
      </div>
    
      <br>
      <br>
      <br>
    
    
      <div class="redBar50Percent">
        Percentages Class
      </div>
    
      <div class="redBar50Points">
        Points Class
      </div>
    
      <div class="container card">
        <h5>This example has divs in it.</h5>
    
        <div class="redBar50Percent">
          Percentage Unit takes the width of its parents.
        </div>
      
        <div class="redBar50Points">
          Pixel Unit is an Absolute Width
        </div>
      </div>
    
      <div class="container card">
        <h5>View Port units.</h5>
    
        <div class="redBar50VH">
          View Height is 25 vh units which equals to 25% of the entire height of the view port.
        </div>
      
        <div class="redBar50VW">
          View width is 10 vw units  which equals to 10% of the entire height of the view port..
        </div>
      </div>
    
    
      <div class="container cardEM">
        <h5>This div has the font size set to x-small</h5>
    
        <div class="redBarREM">
          REM units are relative to the root font size.
        </div>
      
        <div class="redBarEM">
          EM is not relative to the root font size but to the parents font size.
        </div>
    
        <div class="cardREM">
    
    
          <h5>This div has the font size set to x-larger</h5>
    
          <div class="redBarREM">
            REM units are relative to the root font size.
          </div>
        
          <div class="redBarEM">
            EM is not relative to the root font size but to the parents font size.
          </div>
        </div>
    
    
       
    
      </div>
    
      <div class="container parent">
        <div class="two-rem">Test</div>
        <div class="two-em">Test</div>
        <div class="two-hundred-precent">Test</div>
      </div>