<h1>{{title}}</h1>
<!--<app-heros></app-heros>-->
<nav>
    <a routerLink="/dashboard">Dashboard </a>
    <a routerLink="/heroes">Heroes </a>
    <a routerLink="/htmlExamples">Html Examples </a>
    <a routerLink="/angularBasics">Basic Angular Examples </a>
    <a routerLink="/propertyBinding">Property Binding Examples </a>
    <a routerLink="/attributeBinding">Attribute Binding Examples </a>
    <a routerLink="/reactiveForms">Reactive Froms Examples </a>
  </nav>
<router-outlet></router-outlet>
<!--<app-messages></app-messages> -->
